@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Roboto:wght@300&display=swap");
.App {
  min-width: 100vw;
  display: flex;
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp2039805.jpg");
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
